{% extends "layout.html" %}

{% block title %} Success {% endblock %}

{% block content %}

<div class="container">

    <h1>Here are your kits</h1>
    <br>
    <br>

    <div id="kit-table">
        <table border="2" class="table table-striped table-responsive-sm ">
            <thead class="table-info table-group-divider">
                <tr>
                    <th>id</th>
                    <th>scale</th>
                    <th>grade</th>
                    <th>name</th>
                    <th>condition</th>
                    <th>material</th>
                    <th>notes</th>
                    <th>edit/delete</th>
                </tr>
            </thead>
            {% set counter = 0 %}
            <tbody>
                {% for each in kits %}
                {% set counter = counter + 1 %}
                {% if counter %2 %}
                    <tr class="table-warning">
                {% else %}
                    <tr>
                {% endif %}                        
                        <td>{{ each['id'] }}</td>
                        <td>{{ each['scale'] }}</td>
                        {% if each['grade'] == None %}
                            {% set grade_upper = 'N/A' %}
                        {% else %}
                            {% set grade_upper = each['grade'] %}
                            {% set grade_upper = grade_upper.upper() %}
                        {% endif %}
                        <td>{{ grade_upper }}</td>
                        <td>{{ each['name'] }}</td>
                        <td>{{ each['condition'] }}</td>
                        <td>{{ each['material'] }}</td>
                        <td>{{ each['notes'] }}</td>
                        {% set kit_id_val = each['id'] %}

                        <td><a href ="{{ url_for('edit', kit_id = kit_id_val) }}"> edit / delete </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

    