
{% if kit_data|length > 1 %}

    <label for="scale" id="scale" class="form-label">SCALE</label>
    <input list="scales" type = "number" name="scale" value="{{ kit_data['scale'] }}" placeholder="{{ kit_data['scale'] }}" autocomplete="off" class="form-control">
    <datalist id="scales">
    <option data-value="144">144</option>
    <option data-value="100">100</option>
    <option data-value="60">60</option>
    <option data-value="72">72</option>
    <option data-value="8">8</option>
    <option data-value="6">6</option>
    <option data-value="1000">1000</option>
    </datalist>

    <br>

    <label for="grade" class="form-label">GRADE</label>
    <select name="grade" class="form-select" placeholder="choose grade" aria-label="model kit grade">
        <option value=""> </option>
        <option value="hg" {% if kit_data['grade'] == "hg" %} selected {% endif %}>HG</option>
        <option value="mg" {% if kit_data['grade'] == "mg" %} selected {% endif %}>MG</option>
        <option value="fg" {% if kit_data['grade'] == "fg" %} selected {% endif %}>FG</option>
        <option value="eg" {% if kit_data['grade'] == "eg" %} selected {% endif %}>EG</option>
        <option value="rg" {% if kit_data['grade'] == "rg" %} selected {% endif %}>RG</option>
        <option value="pg" {% if kit_data['grade'] == "pg" %} selected {% endif %}>PG</option>

    </select>

    <br>

    <label for="name" class="form-label">Kit Name</label>
    <input type="text" class="form-control" name="name" value="{{ kit_data['name'] }}">

    <br>

    <label for="material" class="form-label">Material</label>
    <select name="material" class="form-select">
        <option value="plastic" {% if kit_data['material'] == "plastic" %} selected {% endif %}>plastic</option>
        <option value="resin" {% if kit_data['material'] == "resin" %} selected {% endif %}>resin</option>
        <option value="other" {% if kit_data['material'] == "other" %} selected {% endif %}>other</option>
    </select>

    <br>

    <label for="condition" class="form-label">Condition</label>
    <select name="condition" class="form-select">
        <option value="new" {% if kit_data['condition'] == "new" %} selected {% endif %}>New</option>
        <option value="snapped" {% if kit_data['condition'] == "snapped" %} selected {% endif %}>Snapped</option>
        <option value="progress" {% if kit_data['condition'] == "progress" %} selected {% endif %}>Progress</option>
        <option value="done" {% if kit_data['condition'] == "done" %} selected {% endif %}>Done</option>
    </select>

    <br>

    <label for="notes" class="form-label">Misc Notes</label>

    {% if kit_data['notes'] %}
        <input type="text" name="notes" size="40" class="form-control" value="{{ kit_data['notes'] }}">
    {% else %}
        <input type="text" name="notes" size="40" class="form-control" placeholder="enter notes" value="">
    {% endif %}

    <br>
    <br>
    Confirm Edit:
    <input name="choice" type="submit" value="Update Kit"/>

    Confirm Deleting:
    <input name="choice" type="submit" value="Delete Kit"/>

    </form>

{% else %}

    <label for="scale" id="scale" class="form-label">SCALE</label>
        <input list="scales" type = "number" name="scale" placeholder="Enter Scale" autocomplete="off" class="form-control">
        <datalist id="scales">
        <option data-value="144">144</option>
        <option data-value="100">100</option>
        <option data-value="60">60</option>
        <option data-value="72">72</option>
        <option data-value="8">8</option>
        <option data-value="6">6</option>
        <option data-value="1000">1000</option>
        </datalist>
        
        <br>

        <label for="grade" class="form-label">GRADE</label>
        <select name="grade" class="form-select" placeholder="choose grade" aria-label="model kit grade">
            <option value=""> </option>
            <option value="hg">HG</option>
            <option value="mg">MG</option>
            <option value="fg">FG</option>
            <option value="eg">EG</option>
            <option value="rg">RG</option>
            <option value="pg">PG</option>
        </select>
        
        <br>

        <label for="name" class="form-label">Kit Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Kit Name">
        
        <br>

        <label for="material" class="form-label">Material</label>
        <select name="material" class="form-select">
            <option value="plastic">plastic</option>
            <option value="resin">resin</option>
            <option value="other">other</option>
        </select>
        
        <br>

        <label for="condition" class="form-label">Condition</label>
        <select name="condition" class="form-select">
            <option value="new">New</option>
            <option value="snapped">Snapped</option>
            <option value="progress">Progress</option>
            <option value="done">Done</option>
        </select>
        
        <br>

        <label for="notes" class="form-label">Misc Notes</label>
        <input type="text" class="form-control" name="notes" placeholder="Enter notes">

        <br>
        <br>
        <input type="submit" name="submit">

    </form>

{% endif %}