{% extends "layout.html" %}
{% block title %} Index Page {% endblock %}
{% block content %}

<h1>Kit Inventory</h1>
<br> Enter a kit.

<br>
<br>

<form action="/", method="POST">


    <label for="scale" id="scale">SCALE: 1/</label>
    <input list="scales" type = "number" name="scale" placeholder="choose or enter" autocomplete="off">
    <datalist id="scales">
      <option data-value="144">144</option>
      <option data-value="100">100</option>
      <option data-value="60">60</option>
      <option data-value="72">72</option>
      <option data-value="8">8</option>
      <option data-value="6">6</option>
      <option data-value="1000">1000</option>
    </datalist>
    <br>

    <label for="grade">GRADE: </label>
    <select name="grade" placeholder="choose grade">
        <option value=""> </option>
        <option value="hg">HG</option>
        <option value="mg">MG</option>
        <option value="fg">FG</option>
        <option value="eg">EG</option>
        <option value="rg">RG</option>
        <option value="pg">PG</option>
    </select><br>

    <input type="text" name="name" placeholder="Kit Name"><br>
    <label for="material">Material: </label>
    <select name="material">
        <option value="plastic">plastic</option>
        <option value="resin">resin</option>
        <option value="other">other</option>
    </select><br>

    <label for="condition">Condition</label>
    <select name="condition">
        <option value="new">New</option>
        <option value="snapped">Snapped</option>
        <option value="progress">Progress</option>
        <option value="done">Done</option>
    </select><br>
    <input type="text" name="notes" size="40" placeholder="extra notes here">
    

    <br>
    <br>
    <input type="submit" name="submit">

</form>


</table>

<br>
<br>
<br>

<a href="{{ url_for('collection', kits='kits') }}" class='btn btn-primary'>See Collection</a>


{% endblock %}